<ion-header-bar>
    <div class="row">
        <b class="col">
            Sticky
        </b>
        <div class="col col-10">
            <button ng-click="removeAll()" class="button button-assertive button-clear" ng-show="editEnable">全部删除</button>
        </div>
        <div class="col col-10">
            <button ng-click="renew(note.id)" class="button button-balanced button-clear" ng-show="editEnable">恢复</button>
        </div>
        <div class="col col-10" ng-hide="editEnable">
            <button class="button button-dark button-clear" ng-click="edit()">编辑</button>
        </div>
        <div class="col col-10" ng-show="editEnable">
            <button class="button button-dark button-clear" ng-click="edit()">完成</button>
        </div>
    </div>
</ion-header-bar>
<ion-content class="has-footer has-header">
    <div class="row">
        <div class="col col-50">
            <div class="list list-inset">
                <div class="item item-divider">
                    <h2>标题列表</h2>
                </div>
                <div class="item item-icon-right row" ng-repeat="note in trashList" ng-click="showContent(note.id)">
                    <input type="checkbox" class="col col-10 " style="margin-top:8px" ng-show="editEnable">
                    <p class="col col-50">{{note.title}}</p>
                    <span class="item-note col col-33">{{note.updatatime|date:'yyyy-MM-dd hh:mm'}}</span>
                    <i class="icon ion-ios-close-empty" ng-click="remove(note.id)"></i>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<div style="position: fixed;height:80%;border:1px solid #ddd;border-radius:5px;width:40%;top:50px;right:5%;background:#444;box-shadow:3px 5px 5px #666">
    <div style="width:70%;height: 80%;border: 1px solid #000;background: #fff;margin:10% 15%;border-radius: 10px">
        <p style="text-align: center;margin:50px 30px 0 30px">{{content}}</p>
    </div>

</div>

<div ng-include="'tpl/include/footer.html'"></div>