<ion-footer-bar>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" ng-click="jump('note')">
            <i class="icon ion-home"></i>
            首页
        </a>
        <a class="tab-item" ng-click="jump('list')">
            <i class="icon ion-ios-list"></i>
            列表视图
        </a>
        <a class="tab-item" ng-click="jump('center')">
            <i class="icon ion-person"></i>
            个人中心
        </a>
        <a class="tab-item" ng-click="jump('trash')">
            <i class="icon ion-trash-a"></i>
            垃圾桶
        </a>
    </div>
</ion-footer-bar>