<ion-header-bar align-title="center">
    <h1 class="title">购物车</h1>
    <button class="button button-clear button-dark" ng-click="toggleEdit()">{{editText}}</button>
</ion-header-bar>

<ion-content class="has-footer has-header">
    <div class="list list-inset">
        <div class="row item" ng-repeat="tmp in cartList">
            <div class="col">
                <img ng-src="img/{{tmp.img_sm}}" class="img-responsive">
            </div>
           <div class="col col-center" ng-show="editEnabled">
               <p>{{tmp.name}}</p>
               <p>{{tmp.price|currency:'¥'}} X <span>{{tmp.dishCount}}</span></p>
           </div>
           <div class="col col-center" ng-hide="editEnabled">
               <button ng-click="minusFromCart($index)">-</button>
               <span>{{tmp.dishCount}}</span>
               <button ng-click="plusToCart($index)">+</button>
           </div>
            <div class="col col-center" ng-hide="editEnabled" ng-click="deleteFromCart($index)">
                <button class="button button-dark button-clear item-button-right">X</button>
            </div>
        </div>
        <div class="item item-divider text-right ">
            <p>合计：<span>{{sumAll() | currency:'¥'}}</span></p>
            <button class="button button-balanced" ng-click="ToOrder()">立即下单</button>
        </div>
    </div>
</ion-content>

<ion-footer-bar ng-include="'tpl/include/footer.html'"></ion-footer-bar>
