<div ng-include="'tpl/include/header.html'"></div>

<ion-content class="has-header has-footer">
    <form class="list list-inset" name="myform" ng-hide="alert">

        <label class="item item-input">
            <span>联系人：</span>
            <input type="text" placeholder="请输入用户名" ng-model="order.user_name" required>
        </label>
        <span class="input-label" >性别</span>
        <ion-list>
            <ion-radio ng-model="order.sex" value="1">男</ion-radio>
            <ion-radio ng-model="order.sex" value="2">女</ion-radio>
        </ion-list>

        <label class="item item-input">
            <span>联系电话：</span>
            <input type="text" placeholder="请输入电话" ng-model="order.phone" required>
        </label>

        <label class="item">
            <span>联系地址：</span>
            <textarea rows="10" ng-model="order.addr" required></textarea>
        </label>


        <button class="button button-balanced button-block" ng-click="toOrder()" ng-disabled="myform.$invalid">确定下单</button>
    </form>


    <div class="list card" ng-show="alert">
        <p class="item item-icon-left calm-bg">
            <i class="icon ion-alert-circled"></i>
            下单成功，你的订单编号为：<span>{{oid}}</span>,你可以在用户中心查看订单状态
        </p>
    </div>
</ion-content>

<ion-footer-bar ng-include="'tpl/include/footer.html'"></ion-footer-bar>